<div>
<% if user_signed_in? %>
  <%= form_for([@replyable, @replyable.replies.build]) do |f| %>
    <p>
      <%= f.hidden_field :autor, {value: current_user.first_name + " " + current_user.last_name} %><br>
      <%= f.text_area :reply, :placeholder => "Responda aqui" %>
    </p>
    <p>
      <%= f.submit %>
    </p>
    <% end %>
<% else %>
  <h2>
    Entre para responder
  </h2>
<% end %>
</div>