<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>Comentário</th>
  </tr>
      
  <tbody>
    <% @replyable.replies.each do |c| %>
      <tr>
        <td><%= c.autor %></td>
        <td><%= c.reply %></td>
      </tr>
    <% end %>
  </tbody>
</table>