<% @lamp.each do |l|%>

<div class="col-md-4">
    <p>
    <div class="row">
        <strong><%= l.name %></strong>
    </div>
    <div class="row">
        foto
    </div>
    <div class="row">
        <strong>Preço: </strong>
        <%= l.price %>
    </div>
    <%= link_to 'detalhes', lamp_path(l) %>
   
    <% if current_user && current_user.admin? %> 
        <p class="lamp-edit"> 
        <%= link_to "Editar", edit_lamp_path(l.id) %> 
        </p> 
    <% end %>
    </p>

</div>

<% end %>