<div class="checkoutCompleted">
  <%= render "cart_list" %>
  <h3><%= current_user.name %>, você receberá um e-mail na conta <%= current_user.email %> com informações para pagamento.
  Obrigado!
  </h3>
</div>