<% @thing.each do |l|%>

<div class="col-md-4">
    <p>
    <div class="row">
        <strong><%= l.name %></strong>
    </div>
    <div class="row">
        <% im = l.images.first %>
        
        <%= image_tag im.img.url(:medium) %>
    </div>
    <div class="row">
        <strong>Preço: </strong>
        <%= l.price %>
    </div>
    <%= link_to 'detalhes', l %>
    </p>

</div>

<% end %>