<div class="row">
<strong><%= @item.name %></strong>
</div>

<div class="row">
  <p>
   <% @item.images.each do |i| %>
   <div class="col-md-4">
   <%= image_tag i.img.url(:medium) %>
   </div>
   <% end %>
  </p>
</div>

<div class="row">
  <strong>Descrição:</strong> <%= @item.description%> 
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-9">
    <strong>Preço:</strong> $<%= @item.price %>
  </div>
</div>
