<div class="products">
  <ul class="list">
    
    <% @products.each do |p|%>
    
      <li class="col-md-4 col-xs-6">
        <div class="item">
          <div class="image">
            <% list_image = p.images.first %>
            <%= link_to image_tag(list_image.nil? ? 'http://placekitten.com/285/300' : list_image.img.url(:medium)), p %>
          </div>
          <p class="name"><%= p.name %></p>
          <h2 class="price">
              <strong><%= number_to_currency(p.price) %></strong>
          </h2>
          <div class="detail-link"><%= link_to 'detalhes', p %></div>
        </div>
      </li>
    <% end %>
  </ul>
</div>